<hibernate-configuration>
    <session-factory>
        <!--database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>

        <!-- "./" preceding "data" in path indicates path is relative to root of project -->
        <property name="connection.url">jdbc:h2:./data/contactmgr</property>

        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Create db schema on start up -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate-->
        <property name="show_sql">true</property>

        <!-- Name the annotated entity classed -->
        <mapping class = "com.newsum.contactmgr.model.Contact" />
    </session-factory>
</hibernate-configuration>